:root {

/** CSS DARK THEME PRIMARY COLORS */ 
--color-primary-100:  #4caf50;
--color-primary-200:  #63b863;
--color-primary-300:  #79c176;
--color-primary-400:  #8dca89;
--color-primary-500:  #a0d39c;
--color-primary-600:  #b4dcb0;  


/* --color-primary-100:  #b3072c;
--color-primary-200:  #bf3740;
--color-primary-300:  #cb5455;
--color-primary-400:  #d66e6b;
--color-primary-500:  #df8782;
--color-primary-600:  #e89f9a;   */

/** CSS DARK THEME SURFACE COLORS */ 
--color-surface-100:  #121212;
--color-surface-200:  #282828;
--color-surface-300:  #3f3f3f;
--color-surface-400:  #575757;
--color-surface-500:  #717171;
--color-surface-600:  #8b8b8b;  

/** Custom */
--color-better-white: #fcfcfc;
--color-plain-grey: #e3e3e3;
--color-dew: #6bc8f4;
              
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-surface-100);
}

#menu-bar {
    padding: 30px;
}

#content {
    padding: 0px 100px;
    display: flex;
    gap:20px;
}

#dew-logo {
    width: 60px;
}


#add-task-button {
    background-color: var(--color-dew);
    color: var(--color-surface-100);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#add-project-button {
    background-color: var(--color-primary-300);
    color: var(--color-surface-100);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.action-icon {
    width: 1rem;
    cursor: pointer;
    padding: 0px 3px;
}

.project-card {
    background-color: var(--color-surface-200);
    color: var(--color-better-white);
    width: 500px;
    min-height: 150px;
    padding: 20px;
    border-radius: 15px;
}

.project-header-box {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-primary-500);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.project-options-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-options-dropdown {
    display: none;
    position: absolute;
    background-color: var(--color-surface-300);
    z-index: 1;
    min-width: 45px;
    overflow: auto;
}

.project-dropdown-button {
    padding: 5px;
    padding-left: 7.5px;
    cursor: pointer;
}

.show {
    display: block;
}

.project-dropdown-button:hover {
    background: var(--color-surface-400);
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid var(--color-surface-600);
    margin-bottom: 5px;
}

.task-content {
    display: flex;
}

.task-circle {
    padding-right: 5px;
}

.task-label {
    padding-right: 20px;
}

.task-label.active {
    display: none;
}

.task-edit-input {
    margin-right: 20px;
    display: none;
}

.task-edit-input.active {
    display: block;
    background-color: var(--color-surface-400); 
    color: var(--color-better-white);
    font-style: italic;
    font-size: 1rem;
    border: none;
    outline: none;

}

.task-menu {
    display: flex;
    align-items: center;
}

.date-label {
    font-style: italic;
    padding-right: 10px;
}









/* MODAL */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.80);
}
  
.modal {
    position: relative;
    margin: 0 auto;
    background-color: var(--color-surface-200);
    color: var(--color-better-white);
    padding: 20px;
    border-radius: 15px;
    z-index: 11; 
}
  
.modal-header {
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid var(--color-better-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-header h2 {
    margin: 0;
    font-size: 18px;
}

.close-button {
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px dashed var(--color-surface-200);
    background-color: var(--color-surface-200);
    color: var(--color-better-white);
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    border: 1px dashed var(--color-primary-500);
}
  
.modal-body {
    padding: 20px 0px;;
}
  
.modal-footer {
    padding: 10px 0px;;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.modal-footer button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-primary-500);
    color: var(--color-surface-100);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.modal-input-div {
    padding: 5px 0px 20px 0px;    
    min-width: 250px;
}

.modal-input-div > label {
    padding-bottom: 5px;
    display: block;
}

.modal-input-div > input, .modal-input-div > select {
    height: 1.5rem;
    padding: 0px 10px;
    display: block;
}


/* END MODAL! */